@media (max-width: 1199px) {
  html{
    font-size: 8px;
  }
}




@media (max-width: 991px) {
  html{
    font-size: 1px;
  }
  .tags{
    flex-direction: column;
    align-items: center;
  }
  .tag{
    width: 70%;
  }
  .history{
    padding-left: 10px;
    padding-right: 10px;
  }
  .government{
    padding-left: 10px;
    padding-right: 10px;
  }
  .mess{
    font-size: 9pt;
  }
  .crcl{
    height: 10%;
    margin-top: -50px;
  }
  .culture{
    padding-top: 190px;
  }
  .menu{
    display: none;
  }
  .nav-link{
    font-size: 55px;
  }
  .nav-link:hover::before{
    transform: translateY(30px) scale(0);
    transition: 0.5s;
  }
  .mobile{
  /* display: flex; */
  }
  .head{
    justify-content: center;
  }
  .head h1{
    font-size: 210pt;
    margin-top: -360px;
  }
  .bar{
    display: block;
  }
}
