*{
  box-sizing: border-box;
  margin: 0;
  /* font-family: sans-serif; */
}
html{
  font-size: 10px;
}
@font-face{
font-family: 'CircleRounded';
src: url('../fonts/CirceRounded-Regular.otf');
}
@font-face{
font-family: 'AmaticSC';
src: url('../fonts/AmaticSC-Regular_0.ttf');
}
@font-face{
font-family: 'UniSans';
src: url('../fonts/Uni Sans Heavy.otf');
}
.container{
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
}
.head{
  background: fixed url('../img/head-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu{
  display: flex;
  justify-content: center;
  height: 13vh;
  align-items: center;
}
.menu ul{
  width: 65%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-link{
  color: #fff;
  text-decoration: none;
  font-family: CircleRounded;
  font-size: 15pt;

  transition: 0.4s;
}

.mobile{
  display: flex;

  width: 100%;
  padding: 70px 50px;
  background-color: RGBA(104,49,84,0.7);
  height: 100%;
  display: none;
}


.mobile ul{
  width: 65%;
  display: flex;
  list-style: none;
  flex-direction: column;

}


.mobile ul li{
margin: 5px;

}

.nav-link::before{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #683154;
  transform: translateY(30px) scale(0);
  transition: 0.5s;
}

.nav-link:hover::before{
  transform: translateY(30px) scale(1);
  transition: 0.5s;
}

.bar{
  font-size: 100px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 40px;
  color: #fff;
  display: none;
}

.head-text{
  color: #fff;
  display: flex;
  justify-content:space-around;
}
.head-text h1{
    font-family: AmaticSC;
    text-align: center;
    font-size: 110pt;
    font-weight: lighter;
    line-height: 100%;
    margin-top: 30px;
    position: fixed;
}
.history{
  /* height: 80vh; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 4;
  padding: 100px;

}
.grange{
  position: absolute;
  background-image: url("../img/grange.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  margin-top: -190px;
  position: absolute;
  z-index: -1;
}




.content{
display: flex;
justify-content: space-around;
width: 70%;
margin: auto;
}

.mess{
  width: 70%;
  margin: auto;
  background-color: #fff;
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
  font-size: 20pt;
  color: #999595;
  font-family: CircleRounded;
  position: relative;
  z-index: 4;
}

.mess p{
  z-index: 5;
}

.mess::after{
  content: '';
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: -20px;
  left: 80px;
  transform: rotate(45deg);
  z-index: -1;
}

.content-text{
width: 60%;
height: auto;
padding-left: 10px;
padding-right: 10px;
z-index: 4;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.content-text-g{
width: 70%;
height: auto;
padding-left: 10px;
padding-right: 10px;
z-index: 4;
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: right;
}


.content-text-g span{
color: #f6933a;
font-family: CircleRounded;
font-size: 20pt;
}

.content-text-g h3{
color: #595858;
font-family: UniSans;
font-size: 25pt;
line-height: 110%;
}

.content-text-g p{
color: #999595;
font-family: CircleRounded;
font-size: 16pt;
line-height: 140%;
}


.content-image{
width: 400px;
height: 450px;
position: relative;
}

.content-text span{
color: #f6933a;
font-family: CircleRounded;
font-size: 20pt;
}

.content-text h3{
color: #595858;
font-family: UniSans;
font-size: 35pt;
line-height: 110%;
}

.content-text p{
color: #999595;
font-family: CircleRounded;
font-size: 16pt;
line-height: 140%;
}


.image-g{
  position: absolute;
  background: url("../img/img4.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;
  z-index: 3;
  border-radius: 20px;
}

.shadow-g{
position: absolute;
background-image: url("../img/img4.jpg");

background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 100%;
top: 20px;
filter: blur(30px);
z-index: 2;
border-radius: 20px;
}


.image-h{
  position: absolute;
  background: url("../img/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x:-100px;
  width: 100%;
  height: 100%;
  z-index: 3;
  border-radius: 20px;
}

.shadow-h{
position: absolute;
background-image: url("../img/img1.jpg");
background-position-x:-100px;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 100%;
top: 20px;
filter: blur(30px);
z-index: 2;
border-radius: 20px;
}

.bg-map{
  z-index: 1;
  width: 100%;
  margin: auto;
  filter: opacity(4%);
  position: absolute;
  top: 10%;
}

.more-btn{
display: inline-block;
margin-bottom: 10px;
position: relative;
transition: 0.7s;
}

.btn-shadow{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 0;
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  border-radius: 30px;
  filter: blur(20px);
  z-index: -1;
}

.more-btn a{
font-weight: lighter;
font-family: CircleRounded;
font-size: 16pt;
border-radius: 30px;
padding: 10px 40px;
text-decoration: none;
color: #fff;
background: #8A2387;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
background: linear-gradient(to right, #F27121, #E94057, #8A2387);

}


.culture{
  /* height: 100vh; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: red;
  position: relative;
  z-index: 2;
  background-image: url("../img/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 290px;
  padding-bottom: 150px;
}

.crcl{
  position: absolute;
  background-image: url("../img/circle-border.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  z-index: -3;
  margin-top: -90px;
}
.overlay{
  position: absolute;
  background-color: rgba(102, 49, 85, 0.82);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
}
.tags{
  display: flex;
  width: 80%;
  /* align-items:center; */
  justify-content: center;
  margin: auto;
}
.tag{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 15px 20px;
  margin: 15px;
  border-radius: 30px;
  height: 340px;
  width: 270px;
}

.tag i{
  background: -webkit-linear-gradient(0deg, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(0deg, #F27121, #E94057, #8A2387);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 color: #0B2349;
 font-size: 70pt;
  margin-bottom: 15px;
}

.tag h4{
  font-family: UniSans;
  font-size: 15pt;
  color: #595858;
  margin-bottom: 15px;
}

.tag p{
  color: #999595;
  font-family: CircleRounded;
  font-size: 16pt;
  line-height: 120%;
}

.tags span{
  color: #f6933a;
  font-family: CircleRounded;
  font-size: 20pt;
  position: absolute;
  top: -50px;
  left: 0;
}

.government{
  /* height: 80vh; */
  display: flex;
  flex-wrap: wrap
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 4;
  padding: 100px;
  padding-bottom: 250px;
  background-image: url("../img/img3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-gallery{
  display: flex;
  align-items: center;
  position: relative;
  z-index: 4;
  padding: 100px;
  text-align: center;
}

.photo-gallery span{
  color: #f6933a;
  font-family: CircleRounded;
  font-size: 20pt;

}

.photos{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
}

.photo{
  width: 300px;
  height: 300px;
  margin: 10px;
  filter: opacity(70%);
  transition: 0.7s;
}
.photo:hover{
  transform:translateY(-5px);
  filter: opacity(100%);
  transition: 0.7s;
  box-shadow: 0 15px 60px RGBA(86,59,93,0.2);

}

.more-btn:hover{
  transform:translateY(-5px);
  filter: opacity(100%);
  transition: 0.7s;
}


footer{
background: url("../img/footer.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 20vh;
background-position-y:-340px;
text-align: center;
color: #fff;
display: flex;
justify-content: space-around;
position: relative;
z-index: 2;

}
footer h3{
  font-family: AmaticSC;
  font-size: 40pt;
  font-weight: lighter;
  margin: auto;

}
